{% extends "base.html" %}

{% block page_content %}
<div id="agent_detail_view">
    <h1>Agent: {{ agent.symbol }}</h1>
    Credits: {{ agent.credits }}<br>
    Faction: {{ agent.starting_faction.name }}
</div>
<div id="agent_ships_list">
    <h1>Ships</h1>
    {% for ship in agent.ships.all %}
    <div class="border">
        <a href="{{ ship.get_absolute_url }}">{{ ship.symbol }} ({{ ship.frame.name }})</a><br>
        System: <a href="{{ ship.nav.system.get_absolute_url }}">{{ ship.nav.system.symbol }}</a><br>
        Navigation status:
        {% if ship.nav.is_in_transit  %}
        {{ ship.nav.get_status_display }} to {{ ship.nav.waypoint }} ({{ ship.nav.arrival_display }})<br>
        {% else %}
        {{ ship.nav.get_status_display }} at <a href="{{ ship.nav.waypoint.get_absolute_url }}">{{ ship.nav.waypoint }}</a><br>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
