{% extends "base.html" %}
{% load mathfilters galaxy_extras %}

{% block page_content %}
<h1>Market: <a href="{{ market.waypoint.get_absolute_url }}">{{ market }}</a></h1>
<p>System: <a href="{{ market.waypoint.system.get_absolute_url }}">{{ market.waypoint.system }}</a></p>

<h2>Exports</h2>
{% if export_goods.exists %}
{% for export in export_goods %}
<div class="row">
    <div class="col-md border">
        <h5>{{ export.trade_good }} ({{ export.sell_price }}₡ / unit)</h5>
        Trade volume: {{ export.trade_volume }}<br>
        Supply: {{ export.get_supply_display|capfirst }}<br>
        Activity: {{ export.get_activity_display|capfirst }}<br>
    </div>
    <div class="col-md border">
        <table class="table table-borderless table-striped table-sm">
            <thead>
                <tr>
                    <th>Market</th>
                    <th>Buy price</th>
                    <th>Profit</th>
                    <th>Distance</th>
                </tr>
            </thead>
            <tbody>
                {% for match in export.trade_matches.all %}
                <tr>
                    <td><a href="{{ match.market.get_absolute_url }}">{{ match.market.waypoint.symbol }}</a></td>
                    <td>{{ match.purchase_price }}₡ / unit</td>
                    <td>{{ match.purchase_price|sub:export.sell_price }}₡ / unit</td>
                    <td>{% distance market.waypoint match.market.waypoint as distance %}{{ distance|floatformat:"0" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% else %}
<p>No exports at this system</p>
{% endif %}

<h2>Imports</h2>
{% if import_goods.exists %}
{% for import in import_goods %}
<div class="row">
    <div class="col-md-6 border">
        <h5>{{ import.trade_good }} ({{ import.purchase_price }}₡ / unit)</h5>
        Trade volume: {{ import.trade_volume }}<br>
        Supply: {{ import.get_supply_display|capfirst }}<br>
        Activity: {{ import.get_activity_display|capfirst }}<br>
    </div>
</div>
{% endfor %}
{% else %}
<p>No imports at this system</p>
{% endif %}

<h2>Exchange</h2>
{% if exchange_goods.exists %}
{% for exchange in exchange_goods %}
{{ exchange }}</br>
{% endfor %}
{% else %}
<p>No exchange at this system</p>
{% endif %}

<h2>Ships</h2>
{% if ships.exists %}
{% for ship in ships %}
{% if not ship.is_in_transit %}
<div class="row">
    <div class="col-md-6">
        <form id="form_navigate_{{ ship.symbol|lower }}" class="row row-cols-md-auto g-3 align-items-center" method="post" action="{% url 'ship_navigate' symbol=ship.symbol %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <div class="input-group mb-3">
                <div class="input-group-text"><a href="{{ ship.get_absolute_url }}">{{ ship.symbol }} ({{ ship.nav.get_flight_mode_display }} mode)</a></div>
                <select class="form-select form-select-sm" name="waypoint">
                    <option disabled selected>Choose waypoint</option>
                    {% for waypoint in ship.get_navigate_waypoints %}
                    <option value="{{ waypoint.symbol }}">{{ waypoint }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-outline-primary" value="Navigate">Navigate</button>
            </div>
        </form>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-6 border">
        <h5>Sell cargo</h5>
        {% if ship.cargo.exists %}
        <ul>
            {% for cargo in ship.cargo.all %}
            <li>{{ cargo }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-6 border">
        <h5>Purchase cargo</h5>
        {% if export_goods.exists %}
        {% if ship.get_available_capacity > 0 %}
        {% for export in export_goods %}
        <div>
            <form id="form_purchase_{{ export.trade_good.symbol|lower }}" class="row row-cols-md-auto g-3 align-items-center" method="post" action="{% url 'ship_purchase_cargo' symbol=ship.symbol %}">
                {% csrf_token %}
                <input type="text" class="d-none" name="symbol" value="{{ export.trade_good.symbol }}">
                <div class="input-group mb-3">
                    <div class="input-group-text">{{ export.trade_good.name }}</div>
                    <input type="number" class="form-control" name="units" min="1" max="{{ ship.get_available_capacity }}" placeholder="{{ ship.get_available_capacity }}">
                    <button type="submit" class="btn btn-outline-primary" value="purchase">Buy</button>
                </div>
            </form>
        </div>
        {% endfor %}
        {% else %}
        Cargo capacity full
        {% endif %}
        {% endif %}
    </div>
</div>

{% endfor %}
{% else %}
None
{% endif %}
{% endblock %}
