{% extends "base.html" %}

{% block page_content %}
<div class="row">
    <div class="col">
        <h1>System {{ system }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="system_{{ system_symbol }}">
            <svg style="background-color:#333; width:100%; height:100%;" viewBox="{{minx}} {{miny}} {{width}} {{height}}">
            {% for w in waypoints %}
                {% if w.type == "GAS_GIANT" %}
                <circle class="waypoint_{{w.type|lower}}" cx="{{w.x}}" cy="{{w.y}}" r="15" fill="yellow" id="waypoint_{{w.symbol|lower}}"></circle>
                {% elif w.type == "PLANET" %}
                <circle class="waypoint_{{w.type|lower}}" cx="{{w.x}}" cy="{{w.y}}" r="10" fill="blue" id="waypoint_{{w.symbol|lower}}"></circle>
                <circle cx="{{centrex}}" cy="{{centrey}}" r="{{w.orbital_radius|floatformat:"0"}}" fill="none" stroke="blue" stroke-width="2"></circle>
                {% elif w.type == "JUMP_GATE" %}
                <circle cx="{{w.x}}" cy="{{w.y}}" r="5" fill="white" id="waypoint_{{w.symbol}}"></circle>
                <circle cx="{{centrex}}" cy="{{centrey}}" r="{{w.orbital_radius|floatformat:"0"}}" fill="none" stroke="white" stroke-width="2"></circle>
                {% elif w.type == "FUEL_STATION" %}
                <circle cx="{{w.x}}" cy="{{w.y}}" r="5" fill="grey" id="waypoint_{{w.symbol}}"></circle>
                <circle cx="{{centrex}}" cy="{{centrey}}" r="{{w.orbital_radius|floatformat:"0"}}" fill="none" stroke="grey" stroke-width="2"></circle>
                {% elif w.type in asteroid_waypoints %}
                <circle cx="{{w.x}}" cy="{{w.y}}" r="5" fill="red" id="waypoint_{{w.symbol}}"></circle>
                {% endif %}
            {% endfor %}
            </svg>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Ships</h4>
        {% for ship in ships %}
        <div class="border">
            <a href="{{ ship.get_absolute_url }}">{{ ship }}</a><br>
            Waypoint: <a href="{{ ship.nav.waypoint.get_absolute_url }}">{{ ship.nav.waypoint }}</a><br>
            Status: {{ ship.nav.get_status_display }}{% if ship.nav.is_in_transit %}, arrives {{ ship.nav.get_arrival }}{% endif %}<br>
            {% if not ship.nav.is_in_transit %}
            <form id="form_navigate_{{ ship.symbol|lower }}" class="row row-cols-md-auto g-3 align-items-center" method="post" action="{% url 'ship_navigate' symbol=ship.symbol %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <div class="input-group mb-3">
                    <div class="input-group-text">{{ ship.symbol }} ({{ ship.nav.get_flight_mode_display }} mode)</div>
                    <select class="form-select form-select-sm" name="waypoint">
                        <option disabled selected>Choose waypoint</option>
                        {% for waypoint in ship.get_navigate_waypoints %}
                        <option value="{{ waypoint.symbol }}">{{ waypoint }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-outline-primary" value="Navigate">Navigate</button>
                </div>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<h4>Markets</h4>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>Waypoint</th>
            <th>Exports</th>
            <th>Imports</th>
            <th>Exchange</th>
        </tr>
    </thead>
    <tbody>
        {% for market in markets %}
        <tr>
            <td><a href="{{ market.waypoint.get_absolute_url}}">{{ market.waypoint.symbol }} ({{ market.waypoint.get_type_display }})</a></td>
            <td>{{ market.exports_display }}</td>
            <td>{{ market.imports_display }}</td>
            <td>{{ market.exchange_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
